<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "My Posts", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>